.personalInfo {
	position: relative;
	display: flex;
	height: 1080px;
}

.leftPanel {
	flex: 1;
	background-color: white;
}

.leftPanel .container {
	margin-top: 131px;
	margin-left: 105px;
	height: 792px;
	width: 716px;
	display: flex;
	flex-direction: column;
}

.container h1 {
	font-family: Rowdies;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 79px;

	/* Redberry Red */
	color: #fe3b1f;
}

.inputContainer {
	margin-top: 90px;
	display: flex;
	flex-direction: column;
}

.inputContainer .textInput {
	padding-left: 53px;
	padding-right: 203px;
	padding-top: 17px;
	padding-bottom: 13px;

	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	margin: 10px auto;

	color: #454545;
	background: #ffffff;
	/* Primary Stroke */

	border: 1px solid #525557;
	box-sizing: border-box;
}

.rightPanel {
	flex: 1;
	background-color: #000000;
}

.rightPanel .flexContainer {
	display: flex;
	flex-direction: column;

	margin: 100px 100px;
	margin-left: 150px;
}

.rightPanel .flexContainer h1 {
	font-family: Rowdies;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 79px;

	/* Redberry Red */

	color: #fe3b1f;
}
.rightPanel .flexContainer p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 200%;
	margin-top: 50px;
	width: 707px;
	height: 606px;
	/* or 48px */

	letter-spacing: 0.05em;

	color: #ffffff;
}
